<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Hackathon</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  </head>
  <body>

  <div class="container">
      <br>
    <a href="/" style="text-decoration: none; color: black;"><h1>LY/NK</h1></a>
      <br>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">Saint Generic JH</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/research">Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/publications">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Grades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/opportunities">Agenda</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
      </div>
    </nav>
  </div>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
