{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h2>Login Form</h2>
        <form action="/action_page.php">

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <p><a href="parentHome.html"><button type="submit">Login</button></a></p>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="/">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}