<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentAuthorization.html">Authorization</a>
    <a href="parentAgenda.html">Agenda</a>
    <a href="parentAnnouncements.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Authorization</h2>


<table>
  <tr>
    <th>Event Description</th>
    <th>Approve/Reject</th>
  </tr>
  <tr>
    <td>February 18, Field Trip to Zoo</td>
    <td><label class = "container">Approve
    <input type ="checkbox" checked = "checked">
    <span class="checkmark"></span></label>
    <label class = "container">Reject
    <input type ="checkbox" checked = "checked">
    <span class="checkmark"></span></label></td>
  </tr>
  <tr>
    <td>February 21, Volunteering Event</td>
    <td>R</td>
  </tr>
  <tr>
    <td>February 27, Birthday Party</td>
    <td>R</td>
  </tr>
</table>

</body>
</html>
