<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentAuthorization.html">Check-In/Bus & School</a>
    <a href="parentAuthorization.html">Authorization</a>
    <a href="parentAgenda.html">Agenda</a>
    <a href="parentAnnouncements.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Feedback</h2>
<p>John Doe</p>

<table>
  <tr>
    <th>Date & Time</th>
    <th>Event</th>
  </tr>
  <tr>
    <td>January 16 2019 & 9:00 AM</td>
    <td>Got on bus</td>
  </tr>
  <tr>
    <td>January 16 2019 & 9:30 AM</td>
    <td>Got off bus</td>
  </tr>
  <tr>
    <td>January 16 2019 & 9:45 AM</td>
    <td>Got to class</td>
  </tr>
</table>

</body>
</html>