<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentHome.html">Agenda</a>
    <a href="parentHome.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Feedback</h2>
<p>John Doe</p>

<table>
  <tr>
    <th>Date</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>January 16 2019</td>
    <td>Blah blah blah</td>
  </tr>
  <tr>
    <td>February 11 2019</td>
    <td>More comments</td>
  </tr>
  <tr>
    <td>February 29 2019</td>
    <td>Some shit</td>
  </tr>
</table>

</body>
</html>