<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentAuthorization.html">Authorization</a>
    <a href="parentAgenda.html">Agenda</a>
    <a href="parentAnnouncements.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Attendance</h2>
<p>John Doe</p>
<p>P = Present, A = Absent</p>

<table>
  <tr>
    <th>Date/Time</th>
    <th>Present/Absent</th>
  </tr>
  <tr>
    <td>February 16 2019/ 10:00 AM</td>
    <td>P</td>
  </tr>
  <tr>
    <td>February 19 2019/ 10:00 AM</td>
    <td>A</td>
  </tr>
  <tr>
    <td>February 21 2019/ 10:00 AM</td>
    <td>P</td>
  </tr>
</table>

</body>
</html>
