<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <h1>John Doe</h1>
  <p>Sunshine Elementary</p>
  <p><a href="parentAttendance.html"><button>Attendance</button></a></p>
  <p><a href="parentFeedback.html"><button>Feedback</button></a></p>
  <p><a href="parentGrades.html"><button>Grades</button></a></p>
  <p><a href="parentAnnouncements.html"><button>Announcements</button></a></p>
  <p><a href="parentAgenda.html"><button>Agenda</button></a></p>
  <p><a href="parentAuthorization.html"><button>Authorization</button></a></p>

  <p><button>Check-In/Bus and School</button></p>
</div>

</body>
</html>
