{% extends "base.html" %}

{% block content %}

    <h2>User Profile Card</h2>
    <div class ="card-deck">
    {% for student in all_students %}
        <div class="card">
            <h1>{{ student.name }}</h1>
            <p>Sunshine Elementary</p>
            <p><a href="/parentAttendance"><button>Attendance</button></a></p>
            <p><a href="/parentFeedback"><button>Feedback</button></a></p>
            <p><a href="/parentGrades"><button>Grades</button></a></p>
            <p><button>Announcements</button></p>
            <p><button>Agenda</button></p>
            <p><button>Check-In/Bus and School</button></p>
        </div>
  {% endfor %}
    </div>

{% endblock content %}
