{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-sm bg-light">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/">Saint Generic JH</a>
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/parentAttendance">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parentFeedback">Feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parentGrades">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parentAnnouncements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parentAgenda">Agenda</a>
                </li>
            </ul>
    </nav>

    <h2>Announcments</h2>
    <p>John Doe</p>

    <table>
        <tr>
            <th>Date</th>
            <th>Announcements</th>
        </tr>
        <tr>
            <td>February 16 2019</td>
            <td>PSA</td>
        </tr>
        <tr>
            <td>February 19 2019</td>
            <td>Jacob is a homosexual</td>
        </tr>
        <tr>
            <td>February 21 2019</td>
            <td>Where are the hoes?</td>
        </tr>
    </table>
{% endblock content %}
