<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentAuthorization.html">Authorization</a>
    <a href="parentAgenda.html">Agenda</a>
    <a href="parentAnnouncements.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Announcements</h2>
<p>John Doe</p>

<table>
  <tr>
    <th>Date</th>
    <th>Announcements</th>
  </tr>
  <tr>
    <td>February 16 2019</td>
    <td>PSA</td>
  </tr>
  <tr>
    <td>February 19 2019</td>
    <td>Jacob is a homosexual</td>
  </tr>
  <tr>
    <td>February 21 2019</td>
    <td>Where are the hoes?</td>
  </tr>
</table>

</body>
</html>
