{% extends "base.html" %}

{% block content %}

    <h2>User Profile Card</h2>
    <div class ="card-deck">
    {% for student in all_students %}
        <div class="card">
            <h1>{{ student.name }}</h1>
            <p>Sunshine Elementary</p>
            <p><a href="/parentAttendance"><button>Attendance</button></a></p>
            <p><a href="/student_feedback/{{ student.id }}"><button>Feedback</button></a></p>
            <p><a href="/student_grade/{{ student.id }}"><button>Grades</button></a></p>
            <p><a href="/parentAgenda"><button>Agenda</button></a></p>
            <p><a href="/parentConsent"><button>Consent Forms</button></a></p>
            <p><a href="/parentCheckIn"><button>Check-In/Bus and School</button></a></p>
        </div>
  {% endfor %}
    </div>

{% endblock content %}
