<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="tab">
    <a href="parentAuthorization.html">Authorization</a>
    <a href="parentAgenda.html">Agenda</a>
    <a href="parentAnnouncements.html">Announcements</a>
    <a href="parentGrades.html">Grades</a>
    <a href="parentFeedback.html">Feedback</a>
    <a href="parentAttendance.html">Attendance</a>
    <a href="parentHome.html">Home</a>
</div>

<h2>Grades</h2>
<p>View Grades</p>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select Class</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="teacherDoCheckIn.html">John Doe</a>
    <a href="#Science">Joe Don</a>
    <a href="#English">Johnny Donny</a>
  </div>
</div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>
