<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
<style>

</style>
</head>
<body>
<div class="tab">
    <a href="teacherCheckIn.html">Check-In/Bus & School</a>
    <a href="teacherAuthorization.html">Authorization</a>
    <a href="teacherAgenda.html">Agenda</a>
    <a href="teacherAnnouncements.html">Announcements</a>
    <a href="teacherGrades.html">Grades</a>
    <a href="teacherFeedback.html">Feedback</a>
    <a href="teacherAttendance.html">Attendance</a>
    <a href="teacherHome.html">Home</a>
</div>

<div id="myDIV" class="header">
 <h2 style="margin:5px">Check-In/Bus & School</h2>
 <input type="text" id="DateTime" placeholder="Date & Time...">
 <input type="text" id="Event" placeholder="Event...">
 <span onclick="newElement()" class="addBtn" id="addButton">Add</span>
</div>

<ul id="myUL">
 <li>Event: Got to class/Date & Time: Feb 10 9:00AM</li>
</ul>

<script>
// Create a "close" button and append it to each list item
/*
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}
*/
// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
/*
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);
*/

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = "Event: " + document.getElementById("Event").value + "/" + "Date & Time: " + document.getElementById("DateTime").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>

</body>
</html>
